@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {

    --font-sans: "Inter", sans-serif;
    --color-brand: #00a95c;
    --color-brand-900: #01874a;
    --color-brand-100: #e6fff2;
    --brand-shadow: 0 2px 8px 0 rgba(0, 169, 92, 0.08);
  }

  @dark {
    --color-brand: #00ffaa;
    --color-brand-900: #00cc88;
    --color-brand-100: #003322;
    --brand-shadow: 0 2px 12px 0 rgba(0, 255, 170, 0.2);
}


@utilities {
  .text-brand {
    color: var(--color-brand);
  }
  .bg-brand {
    background-color: var(--color-brand);
  }
  .shadow-brand {
    box-shadow: var(--brand-shadow);
  }
  .font-sans {
    font-family: var(--font-sans);
  }
}
